.mainNav {
  /* position: absolute; */
  background: var(--bs-white);
  width: 230px;
  min-width: 230px;

  height: 100vh;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  /* display: none; */

}

@media (max-width: 720px) {
  .mainNav {
    display: none;
  }
}

.logoHeader {
  padding-top: 35px;
}

.componentSelectNav {
  background: rgba(39, 129, 184, 0.1);
  border-radius: 10px;
  width: 190px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  height: 40px;

}

.componentUnSelectNav {

  border-radius: 10px;
  width: 190px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
  height: 40px;

}


.parrafoNavigator {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  color: var(--bs-primary);
  padding: 0;
  margin: 0;
}

.parrafoNavigatorUnselected {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  color: var(--bs-placeholder);
  padding: 0;
  margin: 0;
}

.containerNavComponents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

a:-webkit-any-link {
  color: transparent;
  cursor: pointer;
}